/* Master styles */
body {
    font-family: monospace, 'Times New Roman', Times, serif;
    margin: 0%;
    background-color: darkslategrey;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav bar styles */
#nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: lightslategray;
    color: darkslategrey;
    margin-top: 0%;
    margin-bottom: 0%;
}

.left-side {
    display: flex;
}

#nav-bar > .left-side > div {
    margin-right: 20px;
    font-size: .9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22%;
    border-bottom: 1px solid transparent;
    transition: border-bottom .5s;
}

.nav-link-wrapper a {
    color: darkslategrey;
    text-decoration: none;
    transition: color .5s;
    font-weight: bold;
}

.nav-link-wrapper:hover {
    border-top: 2px solid darkgreen;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link {
    border-top: 2px solid black;
}

.active-nav-link a {
    color: black !important;
}

.brand {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: bold;
    color: darkblue;
}

/* Web styles */
.items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: .05in;
}

.item-wrapper {
    position: relative;
}

.img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-spacing: .5in;
    border-radius: 15px;
}

.img-text-wrapper {
    position: absolute;
    top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 0 100px 0 100px;
}

.logo-wrapper img {
    width: 40%;
    margin-bottom: 80px;
    margin-left: 20px;
}

/* Need to be more specific with selector */
.img-text-wrapper:hover .subtitle {
    font-weight: 650;
    font-size: medium;
    font-family: monospace, 'Times New Roman', Times, serif;
    color: aqua;
    bottom: 0%;
}

.img-text-wrapper .subtitle {
    transition: 2s;
    font-weight: 650;
    color: transparent;
    bottom: 0%;
    text-decoration: none;
}

.img-text-wrapper:hover .subtitle .fallout{
    font-weight: 650;
    font-size: medium;
    font-family: monospace, 'Times New Roman', Times, serif;
    color: white;
    bottom: 0%;
    border-style: ridge;
}

.img-text-wrapper .subtitle .fallout{
    transition: 1s;
    font-weight: 650;
    color: transparent;
    bottom: 0%;
    text-decoration: none;
    filter: brightness(100%);
    border-radius: .5in;
}

.fallout {
    color: transparent;
    background-color: transparent;
    border: none;
}

.fallout:hover {
    transition: 1s;
    color: red !important;
    background-color: black;
    bottom: 0%;
    border-color: whitesmoke;
}

.img-text-wrapper .subtitle .fallout {
    transition: 1s;
    font-weight: 650;
    bottom: 0%;
    text-decoration: none;
    filter: brightness(100%);
}

.img-darken {
    transition: 2s;
    filter: brightness(15%);
}

/* About page */
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-img-wrapper img {
    width: 100%;
}

.profile-content-wrapper {
    padding: 30px;
}

.profile-content-wrapper h1 {
    color: lightseagreen;
}

/* For mobile phones and screen transitions */
@media only screen and (max-width: 815px) {
    /* For mobile phones: */
    body {
        height: auto;
        width: auto;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr;
    }

    .items-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    .img-background {
        height: 300px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .img-text-wrapper {
        position: absolute;
        top: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200%;
        text-align: center;
        padding: 0 100px 0 100px;
    }
    
    .logo-wrapper img {
        width: 40%;
        margin-bottom: 80px;
        margin-left: 20px;
    }
    
    /* Need to be more specific with selector */
    .img-text-wrapper:hover .subtitle {
        font-weight: 650;
        font-size: medium;
        font-family: monospace, 'Times New Roman', Times, serif;
        color: aqua;
        bottom: 0%;
    }
    
    .img-text-wrapper .subtitle {
        transition: 2s;
        font-weight: 650;
        color: transparent;
        bottom: 0%;
        text-decoration: none;
    }
  }

  @media only screen and (max-width: 400px) {
  }